:root {
    /*https://coolors.co/3a3238-ddfff7-d72638-f4acb7-677db7*/
    --background: #3A3238;
    --foreground: #DDFFF7;
    --highlight: #D72638;
    --highlight-2: #F4ACB7;
}
html, body {
    height: 100%;
    width: auto;
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

h1 {
    font-family: 'Moirai One', cursive;
}

.m-0 {
    margin: 0 0 0 0;
}

h1.heading {
    margin: 0 0 0 0;
    font-size: 3em;
    color: var(--highlight-2);
}
p.light {
    font-weight: 200;
}
.container {
    height: 100%;
}
.row {
    display: flex;
    flex-direction: column;
}
.centred {
    margin: 0;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}